# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
*.tif
*.pdf
*.RData
*.png
*.db

/data_raw
/intermediates
*.html
/docs/Appendix_files
*.bib

renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/

# sensitive data
Data_clean_global.csv
Data_clean_continental.csv
Data_clean_regional.csv
Data_paired_*.csv
PA_assignment_*.csv
Unpaired_protected_sites_*.csv
Locations_*.csv
*.zip
*.docx
docs/Notes.txt
