# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
*.tif
*.pdf
*.RData
*.png
*.db

/intermediates
*.html
/docs/Appendix_files
*.bib

renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/

# sensitive data
Data_clean_global.csv
Data_clean_continental.csv
Data_clean_regional.csv
Diversity_*.csv
Data_paired_*.csv
PA_assignment_*.csv
Unpaired_protected_sites_*.csv
Locations_*.csv
*.zip
*.docx
docs/Notes.txt

# raw data with embargo
data_raw/Global_Atlas_drylands_V2.xlsx
data_raw/GlobalAtlasv2_conservation_heterogeneity_papers_v2.xlsx
data_raw/LUCAS_2018_iDiv_20221018.csv
data_raw/LUCAS_2018_iDiv_metadata.txt
data_raw/SoilReCon_MetaData_211123.csv
data_raw/SoilReCon_Data_211123.csv

# data downloaded from public repositories
data_raw/Data_Maestre_14_10_2015.xlsx
data_raw/Main_Data_code
data_raw/Global_Biodesert_15122021_coordinates.xlsx

